<div class="container text-center" style="padding-top: 50px;">
    <h1><b>Koszyk</b></h1>

    <div *ngIf="listItems.length > 0" class="row" style="padding-top:100px;">
        <div class="col-5 border border-dark">Produkt</div>
        <div class="col-4 border border-dark">Cena za 1 szt</div>
        <div class="col-2 border border-dark">Ilość</div>
        
    </div>

    <div *ngIf="listItems.length == 0" style="padding-top: 10px;">
        <h2><i>Dodaj coś do koszyka!</i></h2>
    </div>

    <div class="row" style="padding: 0;" *ngFor="let c of listItems">
        <div class="col-5 border border-dark" >{{c.product.name}}</div>
        <div class="col-4 border border-dark">{{c.product.price}} zł</div>
        <div class="col-2 border border-dark">{{c.quantity}}</div>
        <div class="col-1"> 
            <a (click)="removeProductFromCart(c.id)" style="cursor: pointer;"><mat-icon>delete_forever</mat-icon></a>
        </div>
    </div>

    

    <div *ngIf="listItems.length > 0" style="padding-top: 5%;">
        <button (click)="createOrder()" type="button" class="btn btn-success">Złóż zamówienie</button>
    </div>
</div>