<div class="container center text-center" style="max-width: 500px; margin: 5% auto;">
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="mb-6">
            <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required
          #email="ngModel" placeholder="Email"/>
          <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
            Email jest wymagany
          </div>
        </div>

        <div class="mb-6" style="padding-top: 20px;">
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
          #username="ngModel" placeholder="Nazwa użytkownika"/>
          <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
            Nazwa użytkownika jest wymagana
          </div>
        </div>

        <div class="mb-6" style="padding-top: 20px;">
          <input type="password" class="form-control" name="hasło" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" placeholder="Hasło"/>
          <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Hasło jest wymagane</div>
            <div *ngIf="password.errors.minlength">
              Hasło musi mieć przynajmniej 6 znaków
            </div>
          </div>
        </div>

        <div style="padding-top: 20px;">
            <button class="btn btn-primary btn-block"> Rejestracja </button>
        </div>
        <div class="mb-3 center_div_form">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
            Rejestracja nieudana: {{ errorMessage }}
          </div>
        </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
        Rejestracja udana!
      </div>
</div>