<div class="container text-center">
  <div class="row">
    <div class="col-md-4" *ngFor="let p of products">
      <div class="product_img center">
        <img src="https://bulma.io/images/placeholders/256x256.png" style="max-width:100%;height:auto;" alt="sometext">
      </div>
      <a [routerLink]="['/products', p.id]">
        <b>{{p.price}} zł</b><br>
        {{p.name}}
      </a>
    </div>
  </div>
</div>

<div *ngIf="products.length == 0" class="center text-center">
  <h1>Brak produktów</h1>
</div>

<div class="center" style="padding-top: 2%;">
  <div class="wrapper">
    <div *ngIf="page > 0">
      <button (click)="previousPage()" type="button" class="btn btn-primary btn-sm mr-1">Poprzednia strona</button>
    </div>
    <div *ngIf="products.length == 9">
      <button (click)="nextPage()" type="button" class="btn btn-primary btn-sm">Następna strona</button>
    </div>
  </div>
</div>