.center {
    margin: 0 auto;
    width: 60%;
}

h1 {
    position: relative;
    top: 0;
    font: 400 60px/60px Roboto, "Helvetica Neue", sans-serif;
    margin: 0 auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.container-fluid {
    padding-top: 5%;
    padding-bottom: 5%;
}

.col-md-4 {
    padding-top: 3%;
}

.product_img {
    height: 256px;
    width: 256px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

a:link {
    text-decoration: none;
}

a{
    color: black;
}

a:hover  {
    color: gray;
}
