<div class="container" style="padding-bottom: 1%;">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4" *ngFor="let p of products">
        <div class="product_img center">
          <a [routerLink]="['/products', p.id]">
            <img src="{{p.imgLogoUrl}}"  alt="imgLogoUrl">
          </a>
        </div>
        <a [routerLink]="['/products', p.id]">
          <b>{{p.price}} zł</b><br>
          {{p.name}}
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="count == 0" class="center text-center" style="padding: 10% 0;">
    <h1>Brak produktów</h1>
  </div>

  <div class="center" style="padding-top: 2%;">
    <div class="wrapper">
      <div *ngIf="page > 0">
        <button (click)="previousPage()" type="button" class="btn btn-primary btn-sm mr-1">Poprzednia strona</button>
      </div>
      <div *ngIf="count == 9">
        <button (click)="nextPage()" type="button" class="btn btn-primary btn-sm">Następna strona</button>
      </div>
    </div>
  </div>
</div>