

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

      

html { height: 100%; }

body {
    min-height:100%; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    position:relative; 
    padding-bottom:70px; 
    background-color: #ffffffcb;
}

footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: 70px;
    background: black;
}