

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  background-color: #ffffffcb;
  }


html, body { height: 100%; }

/* html, body { height: 100%; background-color: rgba(196, 188, 188, 0.822); } */
body { margin: 0; font-family: "Lato", sans-serif; }

      
      
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
